/*! global settings */
html body{
    background-color: #FCFCFC;
}
h4{
    color: #6667AA;
}


/***! navbar ***/
.navbar{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
}
.navbar__link{
    color: #6667AA;
    font-family: 'Roboto', sans-serif;
}
.navbar__menulogo{
    color: #6667AA;
    padding-top: 15px;
    padding-bottom: 14px;
}
.navbar__menulogo--border{
    border-color: #6667AA;
}
.navbar__dividingline{
    border-bottom: 2px solid #DDD;
}

/***! header ***/


@media screen and (max-width: 1024px) { /* to be responsive at tablet */
    header{
        min-height: 72vh;
    }
}
@media screen and (min-width: 1025px) {
    header{
        min-height: 90vh;
    }
}
hr{
    border-bottom: solid 1.5px;
    color: #8e8e8e;
}
/* profile picture */
.profilpic{
    height: 315px;
    width: 315px;
    object-fit: cover;
    object-position: 50% 45%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow:  5px 5px 7px #c6c6c6,
    -5px -5px 7px #ffffff;
}
.shine {
	position: relative;
}
.shine::before {
	position: absolute;
	top: 20;
	left: -30%;
	z-index: 2;
	display: block;
	content: '';
	width: 20%;
	height: 87%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.shine:hover::before {
	-webkit-animation: shine 2s;
	animation: shine 2s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/* tall text */
.title{
    font-family: 'Montserrat', sans-serif;
    color: #6667AA;
}
.title__name{
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
}
.title__description{
    font-size: 21px;
    padding: 8px 0 20px;
    color: #212529;
}
/* CV download button */
.my-btn{
    background-color: #6667AA;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform .5s;
}
.my-btn:hover{
    transform: scale(1.1);
    background-color: #6667AA;
}
.my-btn__link{
    text-decoration: none;
    color: #fcfcfc;
}
/* quote icons */
.fa-quote-left,.fa-quote-right{
    color: #212529;
}
/* presentation text */
.paragraph-txt{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 95%;
}
/* arrow down animation */
.fa-chevron-down{
    animation: slideDown 2s forwards;
    animation-delay: 1s;
    animation-iteration-count: 5;
    color: #6667AA;
}
@keyframes slideDown {
    from{
        transform: translateY(-20px);
        opacity: 1;
    }
    to{
        transform: translateY(4px);
        opacity: 0.3;
    }
}
@media screen and (min-height: 850px) {
    .fa-chevron-down{
        padding-top: 3em !important;
    }
}

/***! main ***/

/*! skills */
.colored-section{
    background-color: #DDD;
}
.skills{
    min-height: 100vh;
}
.section-title{
    color: #6667AA;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.logo-container{
    height: 180px;
    width: 140px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #DDDDDD;
    box-shadow:  /* 20px 20px 60px #bcbcbc,
            -20px -20px 60px #fefefe; */
            5px 5px 20px #bcbcbc,
            -5px -5px 20px #fefefe;
    transition: transform .5s;
    cursor: url("../img/icon-zoom-in.png"), zoom-in;
}
.logo-container:hover{
    transform: scale(1.1);
}
#office-logo-rsz{
    height: 80px;
    width: 80px;
}
.modal-content{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}
.modal-content__btn-close{
    float: right;
}

/*! experiences */
.experiences{
    min-height: 100vh;
}
.box-timeline{
    width: 100%;
    min-height: 1500px;
    position: relative;
}
.box-timeline__line{
    height: 1250px;
    width: 8px;
    background-color: #DDD;
    margin: 0 auto;
    box-shadow: 2px 2px 2px #cccccc,
                -2px -2px 2px #fefefe;
}
.box-timeline__round{
    height: 80px;
    width: 80px;
    background-color: #DDD;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: 2px 2px 2px #cccccc,
                -2px -2px 2px #fefefe;
}
.box-timeline__round__logo{
    color: #6667AA;
}
.box-timeline__round--r1{
    top: 0px;
}
.box-timeline__round--r2{
    top: 313px;
}
.box-timeline__round--r3{
    top: 626px;
}
.box-timeline__round--r4{
    top: 939px;
}
.box-timeline__round--r5{
    top: 1250px;
}
.box-timeline__job-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}
.box-timeline__box{
    min-height: 200px;
    height: auto;
    width: 450px;
    background: #FCFCFC;
    box-shadow:  3px 3px 9px #c6c6c6,
                -3px -3px 9px #ffffff;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 20px;
}
.box-timeline__box p{
    text-align: justify;
}
.box-timeline__box--b1{
    top: 0px;
    left: calc(50% - 280px);
    /* left: calc(50% - 318px); */
}
.box-timeline__box--b2{
    top: 313px;
    left: calc(50% + 280px);
}
.box-timeline__box--b3{
    top: 626px;
    left: calc(50% - 280px);
}
.box-timeline__box--b4{
    top: 939px;
    left: calc(50% + 280px);
}
.box-timeline__box--b5{
    top: 1250;
    left: calc(50% - 280px);
}
/* media querie for box-timeline until portrait-mobile */
@media screen and (max-width: 990px){
    .box-timeline__line{
        position: relative;
        left: 225px;
    }
    main .box-timeline__round{
        left: calc(50% + 225px);
    }
    main .box-timeline__box{
        left: calc(50% - 60px);
    }
}
/* properties for box into portrait-mobile */
.box__mobileportrait{
    background-color: #FCFCFC;
    min-height: 200px;
    height: auto;
    box-shadow: 4px 4px 9px #c6c6c6,
                -4px -4px 9px #fff;
    padding: 20px;
    /* width: 350px; */
    max-width: 100%;
}

/*! qualifications */
.qualifications{
    min-height: 90vh;
}
.logo-container__qualification{
    width: 450px;
    height: 300px;
    padding: 20px;
    cursor: default; /* delete the cursor's magnifying glass */
}
.logo-container__qualification:hover{
    transform: none; /* delete scale animation */
}
.hat__container, #hat__container__animate-js--laManu{
    /* size the div to mouseover in JS into all the container */
    height: 100%;
    width: 100%;
}
.logo-container__qualification__title{
    color: #6667AA;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    height: 40%;
}
.logo-container__qualification__img{
    /* padding-right: 300px; */
}
.logo-container__qualification__text--replace{
    height: 50px;
    padding-top: 13.5vh;
    width: 350px;
    font-family: 'Roboto', sans-serif;
    /* text-transform: uppercase; */
    font-size: 0.95em;
}
.logo-container__qualification--ifag, .logo-container__qualification--upjvlicence, .logo-container__qualification--upjvtc{
    background-image: url("../img/couronne-laurier-diplome-gold-transparent.png");
    background-size: 36%;
    background-position: 50% 85%;;
    background-repeat: no-repeat;
}
.logo-container__qualification--ifag img, .logo-container__qualification--upjvlicence img, .logo-container__qualification--upjvtc img{
    height: 120px;
    
}
.logo-container__qualification--lamanu img{
    /* height: 400px; */
    position: relative;
    top: 110px;
}
.qualifications__boxes{
    width: 450px;
    height: 300px;
    padding: 20px;
    background: #DDDDDD;
}
.qualifications__boxes--left{
    border-top-left-radius: 30px;
    box-shadow:  5px 5px 18px #bcbcbc,
                -5px -5px 18px #fefefe;
}
.qualifications__boxes--right{
    border-top-right-radius: 30px;
    box-shadow:  -5px 5px 18px #bcbcbc,
                5px -5px 18px #fefefe;
}
.qualifications__boxes--left2{
    border-bottom-left-radius: 30px;
    box-shadow:  5px -5px 18px #bcbcbc,
                -5px 5px 18px #fefefe;
}
.qualifications__boxes--right2{
    border-bottom-right-radius: 30px;
    box-shadow:  -5px -5px 18px #bcbcbc,
                5px 5px 18px #fefefe;
}
.qualifications__boxes--mobile1{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow:  5px 5px 18px #bcbcbc,
                -10px -10px 18px #fefefe;
}
.qualifications__boxes--mobile2{
    box-shadow:  50px 0px 20px #bcbcbc,
    -50px -0px 20px #bcbcbc;
}
.qualifications__boxes--mobile3{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow:  -5px -5px 18px #bcbcbc,
                10px 10px 18px #fefefe;
}
/*! portfolio */
.box-portfolio{
    /* to design : */
    height: 355px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    overflow: hidden; /* to contains the text in mobile */
    display: flex;
    align-items: end;
}
.box-portfolio p{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    padding: 2% 2%;
}
/* to animate the text apparition : */
.box-portfolio--appear{
    animation: slideUp 1s;    
}
@keyframes slideUp {
    from{
        transform: translateY(50%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
.box-portfolio--disappear{ /* class for JS */
    animation: slideNoUp 1s forwards;
}
@keyframes slideNoUp {
    from{
        transform: translateY(0%);
        opacity: 1;
    }
    to{
        transform: translateY(50%);
        opacity: 0;
    }
}
#box-portfolio--1{
    background-image: url("../img/normandie-france-sunset-on-beach-picture-1920-50.jpg");
    background-size: cover;
    background-position: 50% 30%;
}
#box-portfolio--2{
    background-image: url("../img/pixel-art-wallpaper-hangman-western-7.jpg");
    background-size: cover;
    background-position: 0% 45%;
}
#box-portfolio--3{
    background-image: url("../img/movie-database-javascript-fetch-project.png");
    background-size: cover;
    background-position: 50%;
}

/*! recommendations */

@media screen and (max-width: 375px){
    #recommandations__section{
        height: 100vh;
    }
}
@media screen and (min-width: 376px) and (max-width: 1024px){
    #recommandations__section{
        min-height: 80vh;
    }
} 
@media screen and (min-width: 1025px){
    #recommandations__section{
        min-height: 80vh;
    }
}
.carousel-indicators{
    top: 350px;
}
.title__carosel{
    /* padding-left: 130px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #212529;
}
.content__carosel{
    padding: 40px 130px;
    font-family: 'Roboto', sans-serif;
}
.title__carosel--little{
    /* padding: 0px 150px 70px; */
}
.content__carosel--litle{
    padding: 40px 180px;
}
.CA__carosel{
    background-image: url("../img/logo-credit-agricole.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 50%;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 65px;
}
.PMP__carosel{
    background-image: url("../img/logo-rossel-conseil-medias-picardie.png");
    background-repeat: no-repeat;
    background-size: 14%;
    background-position-x: 50%;
    height: 150px;
    width: 100%;
    position: absolute;
    top: 50px;
}
.SODEXO__carosel{
    background-image: url("../img/logo-sodexo.png");
    background-repeat: no-repeat;
    background-size: 14%;
    background-position-x: 50%;
    height: 150px;
    width: 100%;
    position: absolute;
    top: 50px;
}
.carousel-control-prev-icon{
}


/* ! footer */

footer{
    height: 30vh;
    position: relative;
}
.footer__logos--container{
    position: absolute;
    top: 60% !important;
    max-width: 80%;
}


/*? test de photo de profil */
/* .phototestcontainer{
    height: 300px;
    width: 450px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-image: url('/public/assets/img/profile-picture-kevin-lavenant.jpg');
    background-position: center;
    background-size: cover;
} */