/*! global setting */
html body{
    background-color: #FCFCFC;
}

/*! header settings */
header{
    min-height: 100vh;
}
/* navbar settings */
header .navbar__link{
    color: #6667AA;
    font-family: 'Roboto', sans-serif;
}
header .navbar__menulogo{
    color: #6667AA;
    padding-top: 15px;
    padding-bottom: 14px;
}
header .navbar__menulogo--border{
    border-color: #6667AA;
}
header .navbar__dividingline{
    border-bottom: 2px solid #DDD;
}
/* profile picture */
header .profilpic{
    height: 315px;
    width: 315px;
    object-fit: cover;
}
/* tall text */
.title{
    font-family: 'Montserrat', sans-serif;
    color: #6667AA;
}
header .title__name{
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
}
header .title__description{
    font-size: 21px;
    padding: 8px 0 20px;
    color: #212529;
}
/* CV download button */
header .my-btn{
    background-color: #6667AA;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform .5s;
}
header .my-btn:hover{
    transform: scale(1.1);
    background-color: #6667AA;
}
header .my-btn__link{
    text-decoration: none;
    color: #fcfcfc;
}
/* quote icons */
header .fa-quote-left,.fa-quote-right{
    color: #212529;
}
/* presentation text */
.paragraph-txt{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
/* arrow down animation */
header .fa-chevron-down{
    animation: slideDown 2s forwards;
    animation-delay: 1s;
    animation-iteration-count: 3;
    color: #6667AA;
}
@keyframes slideDown {
    from{
        transform: translateY(-20px);
        opacity: 1;
    }
    to{
        transform: translateY(4px);
        opacity: 0.3;
    }
}

/*! main settings */
/** skills */

.colored-section{
    background-color: #DDD;
}
main .skills{
    min-height: 90vh;
}
main .section-title{
    color: #6667AA;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
main .skills .logo-container{
    height: 180px;
    width: 140px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #DDDDDD;
    box-shadow:  /* 20px 20px 60px #bcbcbc,
            -20px -20px 60px #fefefe; */
            5px 5px 20px #bcbcbc,
            -5px -5px 20px #fefefe;
    transition: transform .5s;
    cursor: url("/public/assets/img/icon-zoom-in.png"), zoom-in;
}
main .skills .logo-container:hover{
    transform: scale(1.1);
}
main .skills #office-logo-rsz{
    height: 80px;
    width: 80px;
}
main .skills .modal-content{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}
main .skills .modal-content__btn-close{
    float: right;
}

/** Experiences */
main .experiences{
    min-height: 100vh;
}
main .experiences .box-timeline{
    width: 100%;
    height: 2000px;
    background-color: bisque;
    position: relative;
}
main .experiences .line{
    height: 1250px;
    width: 8px;
    background-color: #DDD;
    margin: 0 auto;
}
main .experiences .round{
    height: 80px;
    width: 80px;
    background-color: #DDD;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
main .experiences .r1{
    top: 0px;
}
main .experiences .r2{
    top: 313px;
}
main .experiences .r3{
    top: 626px;
}
main .experiences .r4{
    top: 939px;
}
main .experiences .r5{
    top: 1250px;
}
main .experiences .job-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}
main .experiences .box{
    background-color: #6667AA;
    min-height: 200px;
    height: auto;
    width: 580px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 20px;
}
main .experiences .b1{
    top: 0px;
    left: calc(50% - 358px);
}
main .experiences .b2{
    top: 313px;
    left: calc(50% + 358px);
}
main .experiences .b3{
    top: 626px;
    left: calc(50% - 358px);
}
main .experiences .b4{
    top: 939px;
    left: calc(50% + 358px);
}
main .experiences .b5{
    top: 1250;
    left: calc(50% - 358px);
}





/*? test de photo de profil */
/* .phototestcontainer{
    height: 300px;
    width: 450px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-image: url('/public/assets/img/profile-picture-kevin-lavenant.jpg');
    background-position: center;
    background-size: cover;
} */